# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
application-secrets.properties

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Backend specific
inboox-ai-backend/target/
inboox-ai-backend/.idea/
inboox-ai-backend/*.iml
